
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Estilos generales */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 40px;
    min-height: 150vh;
}

.progress-container {
    background-color: #f3f3f3;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 10px;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.progress-text {
    position: absolute;
    left: 10px;
    top: -25px;
    font-size: 14px;
    color: #6a0d83;
    font-weight: bold;
}

.progress-bar {
    height: 100%;
    background-color: #6a0d83;
    width: 50%;
    border-radius: 10px;
    transition: width 0.4s ease;
}

h1 {
    font-size: 2rem;
    color: #6a0d83;
    margin-bottom: 20px;
    text-align: left;
    font-weight: 600;
}

.search-container {
    margin-bottom: 20px;
}

#search-bar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.user-stories .story {
    display: grid;
    grid-template-columns: 60px 1fr 120px;
    align-items: center;
    background-color: white;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.user-stories .story:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.story-icon img.icon {
    width: 50px;
    height: 50px;
}

.story-content {
    margin-left: 15px;
    position: relative;
}

.story-content h3 {
    font-size: 18px;
    margin: 0;
    color: #333;
    font-weight: 600;
}

.story-content p {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}

.add-member-btn {
    background-color: #ce4993;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.add-member-btn:hover {
    background-color: #6a0d83;
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 0 8px rgba(106, 13, 131, 0.5);
}

.story-status {
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.story-status.incomplete {
    background-color: darkgray; 
}

.story-status.completed {
    background-color: #27ae60; 
}

.story-status:hover {
    transform: scale(1.05);
}

.add-story-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.add-story-btn {
    background-color: #6a0d83;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.add-story-btn:hover {
    background-color: #ce4993;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}
